html{
    background-image: url("../img/wall-751342_1920.jpg");
}

.form{
position: absolute;
background-color:#fff;
max-width: 200px;
height:170px;
top:100px;
}
.text, .date{
margin-top:20px;
margin-left:12px;
border:none;
border-bottom: 1px solid #fa4141;
padding:5px 0 5px 0;
font-family: "Times New Roman", Georgia, Serif;
font-size:90%;
}
.date{
    margin-top:20px;
}
.add_button{
    margin-top:20px;
    margin-left:50px;
    color: #fff; 
    text-decoration: none; 
    user-select: none;
    background: rgb(212,75,56); 
    padding: 10px 20px 10px 20px; 
    border:none;
}
