html {
    background: url("../img/wall-751342_1920.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.form {
    position: absolute;
    background-color: #fff;
    max-width: 200px;
    height: 180px;
    top: 100px;
}

::-webkit-input-placeholder {
    font-family: Arial;
    font-size: 15px;
    vertical-align: middle;
}

.text,
.date {
    color: #454545;
    margin-top: 20px;
    margin-left: 12px;
    border: none;
    border-bottom: 1px solid #e85f5f;
    padding: 5px 10px 5px 10px;
    font-family: "Times New Roman", Georgia, Serif;
    width: 150px;
    font-size: 15px;
}

.date {
    margin-top: 20px;
}

.add_button {
    cursor: pointer;
    margin-top: 20px;
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #e85f5f;
    padding: 10px 20px 10px 20px;
    border: none;
    font-size: 15px;
    color: #fff;
}

.add_button:hover {
    opacity: 0.9;
}

.output-on-page {
    display: none;
}

.flex-container,
.flex-container2 {
    display: flex;
    margin-left: 324px;
    position: relative;
    width: 649px;
    height: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.048), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.flex-container2 {
    cursor: pointer;
}

.flex-item,
.flex-item2 {
    padding-top: 10px;
    padding-bottom: 10px;
    flex-grow: 1;
    width: 1px;
    font-weight: normal;
    color: #333;
    border-bottom: 2px solid #e85f5f;
    background: #e85f5f;
    text-align: justify;
    color: #fff;
}

.flex-container2.checked .flex-item2:nth-child(1) {
    background: #333;
    color: #e85f5f;
    text-decoration: line-through;
}

.flex-container2.checked .flex-item2:nth-child(2) {
    background: #333;
    color: #e85f5f;
    text-decoration: line-through;
}

.flex-item2 {
    background: #fff;
    color: #333;
}

.flex-item2:nth-child(1) {
    padding-left: 10px;
    flex-grow: 12;
}

.flex-item:nth-child(1) {
    text-align: center;
    flex-grow: 12;
}

.flex-item:nth-child(2),
.flex-item2:nth-child(2) {
    flex-grow: 3;
}

.flex-item:nth-child(2),
.flex-item2:nth-child(2),
.flex-item:nth-child(3),
.flex-item2:nth-child(3) {
    text-align: center;
}

.flex-item2:nth-child(3):hover {
    background: #e85f5f;
    color: #fff;
}

.menu {
    position: absolute;
    cursor: pointer;
    right: 90px;
    padding-left: 0;
    top: -8px;
    width: 220px;
    display: none;
}

.nested-menu {
    position: absolute;
    cursor: pointer;
    list-style: none;
    background: #e85f5f;
    display: none;
    z-index: 10;
}

ul :hover ul {
    display: block;
}

.li-nested-menu {
    position: relative;
    text-align: center;
    margin-left: -40px;
    color: #fff;
    font-family: arial;
    width: 150px;
}

.li-nested-menu:hover {
    background: #f26b6b;
}

.ul-nested-task {
    position: absolute;
    top: 0;
    left: 100%;
    cursor: pointer;
    list-style: none;
    background: #e85f5f;
    z-index: 10;
}

.ul-li-nested-task {
    position: relative;
    text-align: center;
    margin-left: -40px;
    color: #fff;
    font-family: arial;
    width: 160px;
    display: none;
}

ul ul li.task:hover .ul-li-nested-task {
    display: block;
}

.ul-li-nested-task:hover {
    background: #f26b6b;
}

.ul-nested-date {
    position: absolute;
    top: 0;
    left: 100%;
    cursor: pointer;
    list-style: none;
    background: #e85f5f;
    z-index: 10;
}

.ul-li-nested-date {
    position: relative;
    text-align: center;
    margin-left: -40px;
    color: #fff;
    font-family: arial;
    width: 160px;
    display: none;
}

ul ul li.the-date:hover .ul-li-nested-date {
    display: block;
}

.ul-li-nested-date:hover {
    background: #f26b6b;
}

.li-menu {
    position: relative;
    display: inline-block;
    width: 150px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: arial;
    line-height: 43px;
    margin-left: -.40em;
    background: #e85f5f;
}

.li-menu:hover {
    background: #f26b6b;
}

.filter-item-text,
.filter-item-date {
    color: #454545;
    margin-left: 324px;
    border: 1px solid #fff;
    border-bottom: 2px solid #e85f5f;
    padding: 5px 10px 5px 10px;
    font-family: "Times New Roman", Georgia, Serif;
    width: 404px;
    font-size: 15px;
    margin-bottom: 30px;
}

.filter-item-date {
    margin-left: -5px;
    width: 200px;
}

.flex-container2.hide {
    display: none;
}

.label-filter {
    margin-left: 324px;
    font-family: "Times New Roman", Georgia, Serif;
    width: 638px;
    font-size: 17px;
    text-align: center;
    background: #e85f5f;
    color: #fff;
    padding: 5px;
}

.filter {
    display: none;
}

.error {
    position: absolute;
    right: 20px;
    width: 250px;
    background: #fff;
    color: #333;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 20px;
    padding: 10px;
    top: 500px;
    height: auto;
}

.hr {
    position: absolute;
    margin-top: 492px;
    right: 287px;
    width: 4px;
    height: 67px;
    background: red;
    z-index: 1;
}

.hide-error {
    display: none;
}